# fly.toml app configuration file generated for ysc-sandbox on 2025-11-14T08:35:48-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ysc-sandbox'
primary_region = 'sjc'
kill_signal = 'SIGTERM'

[build]

[deploy]
release_command = '/app/bin/migrate'

[env]
PHX_HOST = 'ysc-sandbox.fly.dev'
PORT = '4000'
ERL_AFLAGS = '-proto_dist inet6_tcp'
ECTO_IPV6 = 'true'


[http_service]
internal_port = 4000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[http_service.concurrency]
type = 'connections'
hard_limit = 1000
soft_limit = 1000

[[vm]]
size = 'shared-cpu-1x'
