services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ysc_dev

  dbeaver:
    image: dbeaver/cloudbeaver
    ports:
      - 8978:8978
    volumes:
      - "${PWD}/etc/config/cloudbeaver_config.conf:/opt/cloudbeaver/conf/initial-data-sources.conf"
    environment:
      CB_SERVER_NAME: Cloudbeaver Local Dev
      CB_SERVER_URL: http://localhost:8978
      CB_ADMIN_NAME: admin_user
      CB_ADMIN_PASSWORD: password

  localstack:
    image: localstack/localstack:s3-latest
    ports:
      - "127.0.0.1:4566:4566"
    environment:
      - DEBUG=${DEBUG:-0}
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
