<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <link rel="manifest" href="site.webmanifest" />

    <.live_title suffix=" · YSC.org">
      <%= assigns[:page_title] || "YSC" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased bg-white">
    <div id="content-wrapper" class="flex flex-col min-h-screen">
      <header :if={!fullscreen?(@conn)}>
        <div id="hero-branding" class="relative overflow-hidden h-44">
          <div class="w-full h-full">
            <div class="w-full h-full overlay">
              <canvas
                id="blur-hash-image-tahoe-feature"
                src="|TD,WZ%MacofWCX9t7oHadNGRijEofRjkEofacWB.At8MwkCaeWYbHjDj=IARPozt7jrWYa#axoeWZt7jrogoej]a$ofjsWBWAt8RjadV@WBofj@t8ofWBkDWAofofkCofoet7RjV@kCWBj@j[f6WCRPj[kCj[j]jsayfR"
                class="absolute top-0 left-0 object-cover w-full h-full transform-none"
                phx-hook="BlurHashCanvas"
              >
              </canvas>
              <img
                class="absolute top-0 left-0 object-cover w-full h-full transform-none"
                id="image-tahoe-feature"
                loading="lazy"
                src="/images/tahoe-cabin-feature.jpg"
                phx-hook="BlurHashImage"
              />
            </div>

            <.link
              navigate={~p"/"}
              class="absolute z-10 flex items-center text-left transition-opacity ease-in-out transform -translate-x-1/2 -translate-y-1/2 duration-400 left-48 space-x-9 rtl:space-x-reverse top-1/2 sm:left-1/2 hover:opacity-80"
            >
              <.ysc_logo class="h-20" />
              <span class="self-center text-2xl font-extrabold tracking-wide text-white uppercase lg:text-4xl lg:whitespace-nowrap">
                The Young Scandinavians Club
              </span>
            </.link>
          </div>
        </div>

        <nav class="top-0 z-20 w-full bg-white border-b border-zinc-100 start-0">
          <div class="flex flex-wrap items-center justify-between max-w-screen-lg p-4 mx-auto">
            <div class="flex flex-col w-full space-x-3 lg:w-auto lg:space-x-0">
              <.hamburger_menu toggle_id="navbar-dropdown" />
              <div class="hidden w-full lg:block lg:w-auto" id="navbar-dropdown">
                <ul class="flex flex-col p-4 mt-4 font-medium lg:p-0 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0">
                  <li>
                    <.link
                      navigate={~p"/posts"}
                      class="block px-3 py-2 font-bold transition ease-in-out rounded text-zinc-900 hover:bg-zinc-100 duration-400 hover:text-black"
                    >
                      News
                    </.link>
                  </li>
                  <li>
                    <.link
                      navigate={~p"/events"}
                      class="block px-3 py-2 font-bold transition ease-in-out rounded text-zinc-900 hover:bg-zinc-100 duration-400 hover:text-black"
                    >
                      Events
                    </.link>
                  </li>
                  <li>
                    <.link
                      navigate={~p"/cabins/tahoe"}
                      class="block px-3 py-2 font-bold transition ease-in-out rounded text-zinc-900 hover:bg-zinc-100 duration-400 hover:text-black"
                    >
                      Tahoe Cabin
                    </.link>
                  </li>
                  <li>
                    <.link
                      navigate={~p"/cabins/clear-lake"}
                      class="block px-3 py-2 font-bold transition ease-in-out rounded text-zinc-900 hover:bg-zinc-100 duration-400 hover:text-black"
                    >
                      Clear Lake
                    </.link>
                  </li>
                  <li>
                    <.dropdown id="about" class="text-zinc-900 hover:bg-zinc-100 hover:text-black">
                      <:button_block>
                        About
                        <.icon name="hero-chevron-down" class="w-4 h-4 ms-2 text-color-zinc-800" />
                      </:button_block>
                      <ul
                        class="py-2 text-sm font-medium text-zinc-800"
                        aria-labelledby="dropdownLargeButton"
                      >
                        <li>
                          <a
                            href="#"
                            class="block px-4 py-2 transition ease-in-out duration-400 hover:bg-zinc-100"
                          >
                            Contact Us
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            class="block px-4 py-2 transition ease-in-out duration-400 hover:bg-zinc-100"
                          >
                            Volunteer
                          </a>
                        </li>
                        <li>
                          <.link
                            navigate={~p"/users/settings"}
                            class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                          >
                            Report Conduct Violation
                          </.link>
                        </li>

                        <li>
                          <.link
                            navigate={~p"/users/settings"}
                            class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                          >
                            History
                          </.link>
                        </li>

                        <li>
                          <.link
                            navigate={~p"/users/settings"}
                            class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                          >
                            Past Presidents
                          </.link>
                        </li>

                        <li>
                          <.link
                            navigate={~p"/users/settings"}
                            class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                          >
                            Financials & Annual Meetings
                          </.link>
                        </li>

                        <li>
                          <.link
                            navigate={~p"/users/settings"}
                            class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                          >
                            Bylaws
                          </.link>
                        </li>

                        <li>
                          <.link
                            navigate={~p"/users/settings"}
                            class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                          >
                            Non-Discrimination Code of Conduct
                          </.link>
                        </li>
                      </ul>
                    </.dropdown>
                  </li>
                </ul>
              </div>
            </div>
            <div id="cta-section" class="relative flex-row hidden w-auto lg:flex">
              <%= if @current_user do %>
                <button class="px-3 py-2 mr-2 font-bold transition ease-in-out rounded text-zinc-900 hover:bg-zinc-100 duration-400 hover:text-black">
                  <.icon name="hero-shopping-cart" class="w-5 h-5 -mt-1" />
                </button>
                <!-- <p><%= @current_user.email %></p> -->
                <.user_avatar
                  email={@current_user.email}
                  user_id={@current_user.id}
                  most_connected_country={@current_user.most_connected_country}
                  first_name={@current_user.first_name}
                  last_name={@current_user.last_name}
                >
                  <div class="z-10 w-64 bg-white divide-y divide-zinc-100 rounded shadow">
                    <div class="px-4 py-3 text-sm text-zinc-900">
                      <p><%= @current_user.first_name <> " " <> @current_user.last_name %></p>
                      <div class="font-medium truncate"><%= @current_user.email %></div>
                    </div>
                    <ul class="py-2 text-sm text-zinc-700" aria-labelledby="avatarButton">
                      <li>
                        <a
                          href="#"
                          class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                        >
                          Membership
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                        >
                          My Bookings
                        </a>
                      </li>
                      <li>
                        <.link
                          navigate={~p"/users/settings"}
                          class="block px-4 py-2 transition ease-in-out hover:bg-zinc-100 duration-400"
                        >
                          Account Settings
                        </.link>
                      </li>
                    </ul>
                    <div class="py-1">
                      <.link
                        href={~p"/users/log_out"}
                        method="delete"
                        class="block px-4 py-2 text-sm text-zinc-800 transition ease-in-out hover:bg-zinc-100 duration-400"
                      >
                        Sign out
                      </.link>
                    </div>
                  </div>
                </.user_avatar>
              <% else %>
                <.link
                  href={~p"/users/log_in"}
                  class="px-3 py-2 mr-2 font-bold transition ease-in-out rounded text-zinc-900 hover:bg-zinc-100 duration-400 hover:text-black"
                >
                  Sign In
                </.link>
                <.link
                  navigate={~p"/users/register"}
                  class="px-4 py-2 text-sm font-bold text-center text-zinc-100 transition ease-in-out bg-blue-700 rounded duration-400 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
                >
                  Become a Member
                </.link>
              <% end %>
            </div>
          </div>
        </nav>
      </header>

      <main class="w-full align-top justify-start h-full">
        <%= @inner_content %>
      </main>

      <footer :if={!fullscreen?(@conn)} class="bg-white border-t border-zinc-100 w-full mt-auto">
        <div class="max-w-screen-lg p-4 py-6 mx-auto lg:py-8">
          <div class="lg:flex lg:justify-between">
            <div class="mb-6 lg:mb-0">
              <.link href={~p"/"} class="flex items-center">
                <.ysc_logo class="h-14 me-3" />
                <span class="self-center text-xl font-semibold whitespace-nowrap">
                  The Young Scandinavians Club
                </span>
              </.link>
            </div>
            <div class="flex mb-6">
              <div>
                <h2 class="mb-2 text-sm font-semibold uppercase text-zinc-900">
                  Follow us on socials
                </h2>
                <ul class="flex flex-wrap items-start justify-start">
                  <li class="">
                    <a href="https://www.facebook.com/YoungScandinaviansClub/" target="_blank">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        viewBox="0 0 64 64"
                        class="w-10 h-10 transition duration-300 fill-current text-zinc-900 hover:text-blue-700"
                      >
                        <path d="M48,7H16c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8h17V38h-6v-7h6v-5c0-7,4-11,10-11c3.133,0,5,1,5,1v6h-4 c-2.86,0-4,2.093-4,4v5h7l-1,7h-6v17h8c4.418,0,8-3.582,8-8V15C56,10.582,52.418,7,48,7z">
                        </path>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/theysc" target="_blank">
                      <div class="relative">
                        <svg
                          style="width:0;height:0;position:absolute;"
                          aria-hidden="true"
                          focusable="false"
                        >
                          <linearGradient id="insta-gradient" y1="1">
                            <stop stop-color="#405de6" />
                            <stop offset=".2" stop-color="#5851db" />
                            <stop offset=".4" stop-color="#833ab4" />
                            <stop offset=".6" stop-color="#c13584" />
                            <stop offset=".8" stop-color="#e1306c" />
                            <stop offset="1" stop-color="#fd1d1d" />
                          </linearGradient>
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          x="0px"
                          y="0px"
                          viewBox="0 0 64 64"
                          class="absolute z-10 w-10 h-10 transition duration-300 fill-current text-zinc-900 hover:opacity-0"
                        >
                          <path d="M 21.580078 7 C 13.541078 7 7 13.544938 7 21.585938 L 7 42.417969 C 7 50.457969 13.544938 57 21.585938 57 L 42.417969 57 C 50.457969 57 57 50.455062 57 42.414062 L 57 21.580078 C 57 13.541078 50.455062 7 42.414062 7 L 21.580078 7 z M 47 15 C 48.104 15 49 15.896 49 17 C 49 18.104 48.104 19 47 19 C 45.896 19 45 18.104 45 17 C 45 15.896 45.896 15 47 15 z M 32 19 C 39.17 19 45 24.83 45 32 C 45 39.17 39.169 45 32 45 C 24.83 45 19 39.169 19 32 C 19 24.831 24.83 19 32 19 z M 32 23 C 27.029 23 23 27.029 23 32 C 23 36.971 27.029 41 32 41 C 36.971 41 41 36.971 41 32 C 41 27.029 36.971 23 32 23 z">
                          </path>
                        </svg>
                        <svg
                          fill="url(#insta-gradient)"
                          xmlns="http://www.w3.org/2000/svg"
                          x="0px"
                          y="0px"
                          viewBox="0 0 64 64"
                          class="absolute w-10 h-10 transition duration-300 z-1"
                        >
                          <path d="M 21.580078 7 C 13.541078 7 7 13.544938 7 21.585938 L 7 42.417969 C 7 50.457969 13.544938 57 21.585938 57 L 42.417969 57 C 50.457969 57 57 50.455062 57 42.414062 L 57 21.580078 C 57 13.541078 50.455062 7 42.414062 7 L 21.580078 7 z M 47 15 C 48.104 15 49 15.896 49 17 C 49 18.104 48.104 19 47 19 C 45.896 19 45 18.104 45 17 C 45 15.896 45.896 15 47 15 z M 32 19 C 39.17 19 45 24.83 45 32 C 45 39.17 39.169 45 32 45 C 24.83 45 19 39.169 19 32 C 19 24.831 24.83 19 32 19 z M 32 23 C 27.029 23 23 27.029 23 32 C 23 36.971 27.029 41 32 41 C 36.971 41 41 36.971 41 32 C 41 27.029 36.971 23 32 23 z">
                          </path>
                        </svg>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-zinc-800 sm:text-center">
              © <%= DateTime.utc_now().year %> <.link href={~p"/"} class="hover:underline">The Young Scandinavians Club</.link>. All Rights Reserved.
            </span>
            <span class="text-sm text-zinc-500 sm:text-center">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </span>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
