<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="manifest" href="/site.webmanifest" />
    <link phx-track-static rel="preload" as="image" href={~p"/images/tahoe-cabin-feature.jpg"} />
    <.live_title suffix=" · The Young Scandinavians Club">
      <%= assigns[:page_title] || "YSC" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link href="https://js.radar.com/v4.4.8/radar.css" rel="stylesheet" />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
      nonce={@csp_nonce}
    >
    </script>
    <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" defer nonce={@csp_nonce}>
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"
      defer
      nonce={@csp_nonce}
    >
    </script>
    <script src="https://js.radar.com/v4.4.8/radar.min.js" defer nonce={@csp_nonce}>
    </script>
    <script src="https://js.stripe.com/v3/" defer nonce={@csp_nonce}>
    </script>
    <link rel="stylesheet" href="https://unpkg.com/glightbox/dist/css/glightbox.min.css" defer />
    <script src="https://unpkg.com/glightbox/dist/js/glightbox.min.js" defer nonce={@csp_nonce}>
    </script>
    <script nonce={@csp_nonce}>
      window.stripePublishableKey = "<%= Application.get_env(:stripity_stripe, :public_key) %>";
      window.radarPublicKey = "<%= Application.get_env(:ysc, :radar)[:public_key] %>";
    </script>
    <Turnstile.script />
  </head>
  <body class="antialiased bg-white">
    <div id="content-wrapper" class="flex flex-col min-h-screen">
      <div
        :if={@current_user && @current_user.role == :admin}
        class="fixed bottom-6 right-6 z-[60] group"
      >
        <.link
          navigate={~p"/admin"}
          class="flex items-center gap-0 group-hover:gap-3 bg-zinc-900/95 backdrop-blur-md px-3 py-3 group-hover:px-4 rounded-full shadow-2xl border border-white/10 hover:bg-zinc-800 transition-all duration-300 hover:scale-105 active:scale-95 overflow-hidden"
        >
          <div class="bg-blue-500 rounded-full p-1.5 shadow-lg flex-shrink-0">
            <.icon
              name="hero-cog"
              class="w-8 h-8 text-white group-hover:animate-[spin_10s_linear_infinite] transition-transform duration-300"
            />
          </div>
          <span class="font-bold tracking-tight max-w-0 group-hover:max-w-[200px] group-hover:pr-1 overflow-hidden opacity-0 group-hover:opacity-100 transition-all duration-300 whitespace-nowrap text-white">
            Admin Dashboard
          </span>
        </.link>
      </div>
      <%= @inner_content %>
    </div>
  </body>
</html>
